[Desktop Entry]
Version=1.0
Type=Application
Name=Konata
Comment=The Viewer
Exec=/bin/bash -c "cd /home/ubuntu/konata && make"
Icon=
Path=/work
Terminal=false
StartupNotify=false
GenericName=Konata Viewer
